df-messenger {
 
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;

  --df-messenger-chat-window-height:"550px";
--df-messenger-chat-title-icon-height:"50px";
--df-messenger-chat-title-icon-width:"50px";
--df-messenger-titlebar-background:white;
--df-messenger-titlebar-title-font-style: bold;
--df-messenger-titlebar-subtitle-font-size: 15px;
--df-messenger-titlebar-font-color:rgb(237, 35, 4);
--df-messenger-input-background:white;
--df-messenger-chat-background:white;
--df-messenger-message-bot-background:rgb(255, 243, 238);
--df-messenger-message-bot-font-color:rgb(237, 35, 4);
--df-messenger-message-user-background:rgb(237, 250, 227) ;
--df-messenger-primary-color:rgb(237, 35, 4);
--df-messenger-message-bot-writing-font-weight:italic;


--df-messenger-chat-window-width:880px;
--df-messenger-chat-window-height:450px;

}